@media (min-width: 1025px) {

	.rank-list {
		color: hsla(0,0%,100%,.9);
		font-weight: 600;

		mat-list {
			height: 80vh;

			&::-webkit-scrollbar {
				width: 5px;
			}

			&::-webkit-scrollbar-track {
				background: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background: #3d4d64;
				border-radius: 4px;
			}

			mat-accordion {
				display: inline-flex;
				flex-flow: column wrap;
				height: 85vh;
				margin-left: -16px;

				.rank-list-item {
					flex: 0 0 50px;
				}
			}

			.rank {

				background-color: transparent;
				color: hsla(0,0%,100%,.9);
				user-select: none;
				margin: 0;

				mat-panel-title {
					color: hsla(0,0%,100%,.9);
					user-select: none;
					font-weight: 600;
				}

				.properties {
					display: grid;
					grid-auto-rows: auto;

					.row {
						display: grid;
						grid-template-columns: 70% 30%;

						input {
							background-color: transparent;
							color: white;
							outline: none;
							border: none;
							width: 28px;
							display: inline-block;
							user-select: none;

							* {
								user-select: none;
							}

							&:focus {
								outline: none;
								border: none;
							}

							&:not(:read-only) {
								background-color: #3d4d64;
								border-radius: 4px;
								user-select: none;
							}
						}

						.original {
							font-size: 70%;
							margin-left: 8px;
						}
					}
				}

				.perm-title {
					display: block;
					margin-top: 12px;
				}
				
				.perm-parent {

					display: flex;
					flex-flow: column wrap;
					height: 40px;

					.container {
						display: block;
						position: relative;
						padding-left: 16px;
						cursor: pointer;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
						width: max-content;
					}

					.container:hover input ~ .checkmark {
						background-color: red;
					}

					.container:hover input:checked ~ .checkmark {
						background-color: lightgreen;
					}
					
					.container input:checked ~ .checkmark {
						background-color: green;
					}

					input {
						position: absolute;
						opacity: 0;
						cursor: pointer;
						height: 0;
						width: 0;
					}

					.checkmark {
						position: absolute;
						top: 4px;
						left: 0;
						height: 12px;
						width: 12px;
						background-color: darkred;
						border-radius: 2px;
					}
				}
			}
		}

		.list-header {
			font-size: 24px;
			margin-bottom: 8px;
		}
	}

	.foreground {
		top: 0;
		left: 0;
		position: absolute;

		display: flex;
		justify-content: center;
		align-items: center;
		height: 80%;
		width: 100%;

		.fa-spinner {
			color: hsla(0,0%,100%,.9);
			font-size: 144px;

			animation: spin 1000ms infinite linear;
		}
	}

	.rank-list-item.mat-list-item {
		height: unset;
	}

}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media (max-width: 1024px) {
	.rank-list {
		color: hsla(0,0%,100%,.9);
		font-weight: 600;

		mat-list {
			height: 80vh;
			overflow-y: scroll;
			display: block;
			padding-bottom: 4px;
			
			&::-webkit-scrollbar {
				width: 0;
			}

			&::-webkit-scrollbar-track {
				background: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background: transparent;
			}

			mat-accordion {
				display: inline-flex;
				flex-flow: column;

				.rank-list-item {
					flex: 1 1 auto;
					height: max-content;
				}
			}
		}

		.rank {

			background-color: transparent;
			color: hsla(0,0%,100%,.9);
			user-select: none;
			padding: 20px 0;

			mat-panel-title {
				color: hsla(0,0%,100%,.9);
				user-select: none;
				font-weight: 600;
			}

			.properties {
				display: grid;
				grid-auto-rows: auto;

				.row {
					display: grid;
					grid-template-columns: 70% 30%;

					input {
						background-color: transparent;
						color: white;
						outline: none;
						border: none;
						width: 28px;
						display: inline-block;
						user-select: none;

						* {
							user-select: none;
						}

						&:focus {
							outline: none;
							border: none;
						}

						&:not(:read-only) {
							background-color: #3d4d64;
							border-radius: 4px;
							user-select: none;
						}
					}

					.original {
						font-size: 70%;
						margin-left: 8px;
					}
				}
			}

			.perm-title {
				display: block;
				margin-top: 12px;
			}
			
			.perm-parent {

				display: flex;
				flex-flow: column wrap;
				height: 40px;

				.container {
					display: block;
					position: relative;
					padding-left: 16px;
					cursor: pointer;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					width: max-content;
				}

				.container:hover input ~ .checkmark {
					background-color: red;
				}

				.container:hover input:checked ~ .checkmark {
					background-color: lightgreen;
				}
				
				.container input:checked ~ .checkmark {
					background-color: green;
				}

				input {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
				}

				.checkmark {
					position: absolute;
					top: 4px;
					left: 0;
					height: 12px;
					width: 12px;
					background-color: darkred;
					border-radius: 2px;
				}
			}
		}
	}
}

@media (hover: none) {
	.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
		background-color: transparent;
	}
}