.acp-wrapper {
	font-size: 40px;

	mat-grid-tile:not(.invisible) {
		cursor: pointer;
		color: white;
		transition: font-size 0.3s ease-out;
		text-shadow: black 0 0 8px;

		&:hover:not(.coming-soon,.disabled) {
			font-size: 45px;
		}
	}

	mat-grid-tile.coming-soon {
		color: #666;
		text-shadow: none;
	}

	mat-grid-tile.disabled {
		background-color: #f001;
		text-shadow: none;
		color: #666;
		user-select: none;
		cursor: default;
	}
	
	.coming-soon {
		background-color: #f001;
		user-select: none;
		cursor: default !important;
		font-size: 40px;
		
		.coming-soon-notice {
			position: absolute;
			transform: rotate(-30deg);
			color: #c00;
			text-shadow: black 0 0 8px;
			font-size: 45px;
		}
	}
}

@media (max-width: 1024px) {
	.acp-wrapper {
		font-size: 24px;
		white-space: normal;
		text-align: center;
		overflow-y: scroll !important;

		mat-grid-list {
			display: block !important;
			overflow-y: scroll !important;
			height: 83vh;
			padding-bottom: 0px !important;

			mat-grid-tile {
				background-color: #3d4d6422;
				position: relative;
				display: block !important;
				margin: 0 !important;
				left: 0 !important;
				flex: 1 1 120px;
				width: 100% !important;
				margin-bottom: 8px !important;
				height: 20vh;
				padding: 16px 0 !important;
			}
		}
	}
}