.create-character {
	font-family: Lato;
	
	mat-form-field {
		width: 400px;
	}

	mat-label {
		color: white;
	}

	input {
		padding: 4px;
		color: #eee;
	}

	button {
		transition: transform 0.1s linear;
		transform-origin: 0 0;
	}

	.buttons {
		margin-top: 20px;
	}

	button:hover {
		transform: scale(1.1);
	}
}