.sidenav-container {
  height: 100%;
  background-color: #1f2937;
}

.disable-select {
  user-select: none;
}

.sidenav {
  width: 200px;
  border-color: #111;
  background: #111827;

  .acp {
    background: #111827;
    color: white;
    margin-left: -8px;

    .mat-expansion-panel-header-title {
      user-select: none;
      color: white;
    }

    &.disabled {
      .mat-expansion-panel-header-title {
        user-select: none;
        color: #444;
      }
    }
  }
  
  a.mat-list-item {
    color: white;

    &.mat-list-item-disabled {
      color: #444;
      background: #111827;
    }
  }
}

.main-content {
  padding: 20px;
  height: 90%;

  .home {
    color: white;
  }
}

.notice {
  color: #FF6347;
  display: block;
}

.sidenav .mat-toolbar {
  background: #111827;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(17, 24, 39);
}

.mat-drawer-content {
  overflow: hidden;
}
