.sidenav-container {
  height: 100%;
  background-color: #1f2937;
}

.disable-select {
  user-select: none;
}

.sidenav {
  width: 200px;
  border-color: #111;
  background: #111827;

  .acp, .ucp {
    background: #111827;
    color: white;
    margin-left: -8px;

    .mat-expansion-panel-header-title {
      user-select: none;
      color: white;
    }

    &.disabled {
      .mat-expansion-panel-header-title {
        user-select: none;
        color: #444;
      }
    }
  }
  
  a.mat-list-item {
    color: white;

    &.mat-list-item-disabled {
      color: #444;
      background: #111827;
    }
  }
}

.main-content {
  padding: 20px;
  .home {
    color: white;
  }
}

.notice {
  color: #FF6347;
  display: block;
}

@media (max-width: 1024px) {
  .mat-toolbar {
    height: max-content;
    padding: 4px 8px;
    font-size: 16px;
    line-height: normal;
    font-weight: 600;

    .notice {
      font-weight: normal;
      white-space: normal;
    }
  }
}

.server-status {
  height: 16px;
  width: 16px;
  right: 24px;
  background: red;
  position: absolute;
  border-radius: 8px;

  &.online {
    background: green;
  }
}

.sidenav .mat-toolbar {
  background: #111827;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(17, 24, 39);
}

.mat-drawer-content {
  overflow: hidden;
}
