.login-bar {
	font-family: Lato;
	
	mat-label, mat-hint {
		color: white;
	}

	.username, .password {
		width: 300px;
		margin-bottom: 15px;
	}

	span.mat-placeholder-required.mat-form-field-required-marker {
		color: white;
	}

	input {
		padding: 4px;
		color: #eee;
	}

	button {
		transition: transform 0.1s linear;
		transform-origin: 0 0;
	}

	button:hover {
		transform: scale(1.1);
	}
}