.login-bar {
	font-family: Lato;

	margin: auto;
	width: 100%;

	span {
		color: white;
		font-size: 18px;
		font-weight: 600;
		display: block;
		margin-bottom: 4px;
	}

	.username {
		margin-bottom: 24px;
	}

	input {
		padding: 4px;
		width: 20%;
		height: 24px;
		font-size: 18px;
		background-color: #fff3;
		color: #ddd;

		&[type=submit] {
			margin-top: 18px;
			padding: 0;
			height: 28px;
			font-size: 14px;
			width: 120px;
		}
	}
}