<div class="awaiting-activation">
	<div class="left">
		<mat-list role="list">
			<div class="list-header">Users Awaiting Activation</div>
			<mat-list-item *ngFor="let user of usersAwaitingActivation">
				<div class="interior"><i (click)="activateUser(user.username)" class="fa-solid fa-square-plus"></i> <i (click)="editUser(user.username)" class="fa-solid fa-pencil"></i> {{ displayUser(user) }}</div>
			</mat-list-item>
		</mat-list>
		<div class="empty" *ngIf="!usersAwaitingActivation.length && !accountService.gettingDeactivatedUsers">
			There are no users awaiting activation.
		</div>
	</div>
	<div class="right">
		<mat-list role="list">
			<div class="list-header">Users Currently Activated</div>
			<mat-list-item *ngFor="let user of activatedUsers">
				<div class="interior"><i (click)="deactivateUser(user.username)" class="fa-solid fa-square-minus"></i> <i (click)="editUser(user.username)" class="fa-solid fa-pencil"></i> {{ displayUser(user) }}</div>
			</mat-list-item>
		</mat-list>
		<div class="empty" *ngIf="!usersAwaitingActivation.length && !accountService.gettingDeactivatedUsers">
			There are no users awaiting activation.
		</div>
	</div>
</div>

<div class="foreground" *ngIf="accountService.gettingDeactivatedUsers || accountService.activatingUser">
	<i class="fa-solid fa-spinner"></i>
</div>