.home-wrapper {
	font-size: 40px;

	mat-grid-tile:not(.invisible) {
		cursor: pointer;
		color: white;
		transition: font-size 0.3s ease-out;
		text-shadow: black 0 0 8px;

		&:hover:not(.coming-soon,.disabled) {
			font-size: 45px;
		}
	}

	mat-grid-tile.coming-soon {
		color: #666;
		text-shadow: none;
	}

	mat-grid-tile.disabled {
		background-color: #f001;
		text-shadow: none;
		color: #666;
		user-select: none;
		cursor: default;
	}
	
	.coming-soon {
		background-color: #f001;
		user-select: none;
		cursor: default !important;
		font-size: 40px;
		
		.coming-soon-notice {
			position: absolute;
			transform: rotate(-30deg);
			color: #c00;
			text-shadow: black 0 0 8px;
			font-size: 45px;
		}
	}
}